.card {
    width: 112px;
    margin-right: 20px;
    flex-shrink: unset;

    &__cover {
        height: 112px;
        overflow: hidden;
        display: block;
        width: 112px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-size: 12px;
        line-height: 16px;
        color: #0F1E36;
        padding-top: 8px;
        padding-bottom: 4px;
        max-width: 112px;
    }

    &__author {
        font-size: 10px;
        line-height: 14px;
        color: #0F1E36;
        mix-blend-mode: normal;
        opacity: 0.48;
    }

   
}
