$main-color:#3E2AD1;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



.grid {
    display: grid;
    grid-template-columns: 1fr 5fr;
}

.bar {
    padding: 25px;
    
    &__logo--img {
        width: 50px;
    }

    &__top {
        list-style: none;
       

        &--first {
            padding-top: 20px;
        }
    }

    &__link {
        display: flex;
        text-decoration: none;
        padding-bottom: 24px;
        color: #0F1E36;
        opacity: 0.5;
        padding-left: 24px;
        transition: 0.5s;
        font-size: 12px;
        line-height: 16px;
        position: relative;

        &:hover {
            opacity: 1;
            color: $main-color;
        }
    }

    &__icon {
        position: absolute;
        top: 0;
        left: 0;
    }

    &__title {
        font-size: 14px;
        line-height: 16px;
        padding-bottom: 16px;
    }

}

.header {
    padding: 22px;
    display: grid;
    grid-template-columns: 40% 30% 30%;

    &__block {
        position: relative;
        height: 100%;

        img {
            position: absolute;
            top: 18px;
            left: 0;
        }
    }

    &__menu {
        display: none;
    }

    &__input {
        border: none;
        outline: none;
        height: 100%;
        padding: 0 28px;
        background: transparent;
    }

    &__list {
        list-style: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    &__link--bell {

        position: relative;

        &::before {
            content: "";
            display: block;
            width: 7px;
            height: 7px;
            background: #F51E38;
            border: 1px solid #F5F5F5;
            border-radius: 50%;
            position: absolute;
            top: -11px;
            right: -2px;
        }
    }
}

.profile {
    display: flex;
    align-items: center;

    &__ava {
        overflow: hidden;
        width: 55px;
        height: 55px;
        border-radius: 50%;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__wrapper {
       display: inline-block;
        position: relative;
        margin-right: 10px;
    }

    &__online {
        position: absolute;
        bottom: 0;
        right: 0;
        width: 15px;
        height: 15px;
        background: white;
        border-radius: 50%;
        
        

        svg {
        position: absolute;
        top: 0.5px;
        left: 1.5px;
        fill: red;
        }
    }

    &__status {
        display: flex;
        font-size: 10px;
        line-height: 16px;
        color: #3E2AD1;

        img {
            padding-right: 5px;
        }
    }

    &__title {
        font-size: 12px;
    }
    
}

.banner {
    height: 306px;
    background-color: #E52338;
    color: white;
    display: flex;
    align-items: center;
    padding: 0 53px;
    background-image: url(https://about-telegram.ru/wp-content/uploads/2018/04/kosmicheskie-koty-telegram.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position-x: 80%;

    &__title {
        padding: 7px 0;
    }

    &__play {
        display: flex;
        padding: 4px 16px;
        background: white;
        text-decoration: none;
        width: 72px;
        box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.678);
        border-radius: 3px;
        color: #BC1428;
        text-align: center;
        font-size: 10px;
        line-height: 14px;  
        text-transform: uppercase;
        margin-right: 8px;
        height: 20px;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__author {
        padding-bottom: 43px;
    }

    &__start {
        padding-right: 4px;
        
    }

    &__share {
        padding: 5px;
        background: white;
        box-shadow: 0px 2px 8px black;
        border-radius: 3px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.5s;

        &:hover {
            transform: scale(1.1);
        }
    }

    &__buttons {
        display: flex;
        align-items: center;
    }
}

.tracks {
    padding: 24px;

    &__title {
        padding-bottom: 13px;
        font-size: 16px;
        line-height: 22px;
        color: #0F1E36;
        padding-top: 13px;

    }

    &__list {
        list-style: none;
        display: flex;
        overflow-x: auto;
        overflow-y: hidden;
        width: 100%;

        // &::-webkit-scrollbar {
        //    display: none;
        // }

        li {
           display: inline-block;
        }
    }

    &__option {
       display: grid;
       grid-template-columns: repeat(9,1fr);
       
        &:hover {
            background: white;
            cursor: pointer;
         }

         &--top {
             &:hover {
                background: linear-gradient(180deg, rgba(244, 249, 255, 0.0001) 0%, #F4F9FF 26.23%);
             }
         }
    }

    &__col {
        height: 39px;
        font-size: 12px;
        line-height: 16px;
        color: #0F1E36;
        mix-blend-mode: normal;
        opacity: 0.5;
        transition: 0.5s;
        display: flex;
        align-items: center;

        &--bold {
            opacity: 1;
        }  
    }
}

main {
    background: linear-gradient(180deg, rgba(244, 249, 255, 0.0001) 0%, #F4F9FF 26.23%);
    padding-bottom: 100px;
    overflow: hidden;
}

.card {
    width: 112px;
    margin-right: 20px;
    flex-shrink: unset;

    &__cover {
        height: 112px;
        overflow: hidden;
        display: block;
        width: 112px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__name {
        font-size: 12px;
        line-height: 16px;
        color: #0F1E36;
        padding-top: 8px;
        padding-bottom: 4px;
        max-width: 112px;
    }

    &__author {
        font-size: 10px;
        line-height: 14px;
        color: #0F1E36;
        mix-blend-mode: normal;
        opacity: 0.48;
    }

   
}

.player {
    display: grid;
    grid-template-columns: 1fr 5fr;
    background: black;
    height: 62px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;

    &__track {
        display: flex;
        align-items: center;
        position: relative;
    }

    &__left {
        background: #F51E38;
        padding-top: 12px;
        padding-left: 24px;
        padding-bottom: 12px;
        padding-right: 17px;
        color: white;
    }

    &__cover {
        width: 40px;
        height: 40px;
        border-radius: 5px;
        overflow: hidden;
        margin-right: 8px;

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    &__songname {
        font-size: 12px;
    }

    &__songartist {
        font-size: 10px;
        line-height: 12px;
        color: #F79DA8;
    }

    &__burger {
        position: absolute;
        top: 0;
        right: 0;
    }
}

@media screen and (max-width:775px) {
    .header {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(2,70px);
        grid-template-areas: "list profile"
                                "form form";

        &__form {
            grid-area: form;
        }

        &__list {
            grid-area: list;
        }

        &__profile {
            grid-area: profile;
            display: flex;
            justify-content: flex-end;
        }

        &__input {
            width: 100%;
        }
    }

    .banner {
        background-image: none;
        height: auto;
        padding: 25px 53px;
    }

    .player__burger {
        display: none;
    }
}

@media screen and (max-width:540px) {
    .grid {
        grid-template-columns: 1fr;
    }

    .bar {
        display: none;
    }

    .header {
        grid-template-areas: "menu profile"
                            "list list"
                            "form form";
        &__menu {
            display: flex;
            align-items: center;
            text-decoration: none;
            color: black;
            font-size: 30px;
            opacity: 0.5;
            grid-area: menu;
        }

        &__block {
            img{
                top: 0;
            }
        }
    }

   
}